@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #080e1f;
  margin: 0;
  padding: 0;
}

#root {
  background: #080e1f;
  min-height: 100vh;
}